*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

img{
    max-width: 100%;
}

.row{
    display: flex;
}

ul li{
    list-style-type: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

/*******************
LAYOUT CONTAINER
*******************/

.layout-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.player-bar{
    height: 90px;
    background-color: #282828;
}

.main-content{
    flex-grow: 1;
    background-color: #141922;
    display: flex;
    overflow-y: hidden;
}

.side-bar{
    width: 230px;
    background-color: black;
}

.main-bar{
    flex-grow: 1;
}

@media  only screen and (max-width:553px) {
    .side-bar{
        width: 50px;
    }
}

/*******************
PLAYER BAR
*******************/

.player-bar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    flex-shrink: 0;
}

.album-preview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
}

.album-preview__song {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.album-preview figure{
    width: 42px;
    margin-right: 12px;
    flex-shrink: 0;
}

.group{
    font-weight: bold;
}

.song{
    color: gray;
    font-size: 15px;
}

.album-preview__icon{
    display: flex;
    gap: 15px;
    color: gray;
}



.player-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 11px;
    margin: 0 45px;
    flex-basis: 30%;
}

.player-wrapper__icon{
    display: flex;
    align-items: center;
}

.player-wrapper__icon i:first-child{
    padding-right: 22px;
}

.player-wrapper__icon i:last-child{
    padding-left: 22px;
}

.play{
    padding: 0 32px;
    font-size: 30px;
}

.player-wrapper__bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
}

.bar{
    width: 100%;
    height: 4px;
    background-color: gray;
    margin: 0 15px;
}

.controls{
    display: flex;
    align-items: center;
    width: 230px;
}

.controls__icon{
    display: flex;
    gap: 17px;
    margin-right: 17px;
}

.controls__sound{
    display: contents;
    gap: 14px;
    align-items: center;
    width: 230px;
}

.controls__sound__bar{
    flex-grow: 1;
    height: 4px;
    background-color: gray;
    margin-left: 17px;
    border-radius: 999px;
}

.progress{
    width: 25%;
    height: 4px;
    background-color: white;
    border-radius: 999px;
    position: relative;
    display: flex;
    align-items: center;
}

.pallina{
    position: absolute;
    right: 0;
    width: 13px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 999px;
    display: none;
}

@media only screen and (max-width:640px){
    .album-preview__icon{
        flex-direction: column;
        gap: 6px;
    }
}

.song:hover{
    color: white;
    text-decoration: underline;
}

.heart:hover{
    color: white;
}

.folder:hover{
    color: white;
}

.progress:hover .pallina{        
    display: block;   
}

.bar:hover .pallina{        
    display: block;   
}

.controls__sound__bar:hover .pallina{        
    display: block;   
}

.controls__sound__bar:hover .progress{        
    background-color: greenyellow;   
}

.bar:hover .progress{        
    background-color: greenyellow;   
}

.progress:hover{
    background-color: greenyellow;
}

.play:hover{
    font-size: 35px;
}

/*******************
SIDE BAR
*******************/

.side-bar{
    display: flex;
    flex-direction: column;
    color: grey;
    position: relative;
    padding: 0 13px;
    padding-top: 13px;
    flex-shrink: 0;
    overflow-y: hidden;
    font-weight: bold;
}

.my-playlist{
    flex-grow: 1;
}

.logo{
    width: 130px;
    margin-bottom: 30px;
    color: white;
}

.logo-small{
    display: none;
}

.search{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 26px;
}

.my-playlist__title{
    margin-bottom: 13px;
    color: white;
}

.my-playlist__sub-title{
    margin-bottom: 22px;
    display: flex;
    align-items: center;
}

.my-playlist__collection{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.account__installer{
    margin-bottom: 12px;
    color: gray;
    display: flex;
    align-items: center;
    
}

.account .side-bar__icon:first-child{
    font-size: 16px;
}

.account__user{
    margin-top: 12px;
    display: flex;
    align-items: center;
    color: white;
}

.side-bar__icon{
    margin-right: 12px;
    font-size: 22px;
}

.plus{
    background-color: gray;
    color: black;
    width: 37px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user{
    background-color: gray;
    border-radius: 999px;
    width: 30px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

@media only screen and (max-width:553px){
    .logo{
        display: none;
    }

    .logo-small{
        display: block;
        margin-bottom: 17px;
    }

    .search span{
        display: none;
    }

    .my-playlist{
        display: none;
    }

    .account span{
        display: none;
    }

    .account{
        margin-top: auto;
    }
}

.side-bar p:hover, span:hover{
    color: white;
}

.plus:hover{
    background-color: white;
}

.side-bar .home{
    position: absolute;
    left: 0;
    border-left: 3px solid greenyellow;
    height: 24px;
}

/*******************
MAIN BAR
*******************/
.main-bar{
    color: white;
    overflow-y: auto; 
}

.main-bar__head{
    height: 90px;
    display: flex;
    justify-content: end;
    background-color: rgba(8, 11, 18, 0.5);
    align-items: center;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.header-button{
    padding: 15px 40px;
    border: 2px solid white;
    border-radius: 999px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 15px;
}

.header-button:hover{
    scale: 1.1;
}

.main-bar__option{
    color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 23px;
    padding-top: 23px;
    padding-bottom: 40px;
    font-weight: bold;
    margin: 0 44px;
}

.evidenza{
    border-bottom: 3px solid greenyellow;
    padding-bottom: 6px;
    color: white
}

.main-bar__option>*:hover{
    color: white;
}

.main-bar__album{
    padding: 0 20px;
}

.recently{
    margin-bottom: 48px;
}

.recently__title{
    margin-bottom: 36px;
    font-size: 30px;
    font-weight: 800;
}

.col{
    text-align: center;
    width: calc(100% / 6 - 75px / 6);
}

.img-album{
    position: relative;
}

.name-song{
    margin-top: 20px;
    margin-bottom: 15px;
}

.name-song__subtitle{
    color: gray;
    font-weight: bold;
}

.row{
    gap: 15px;
    flex-wrap: wrap;
}






.for-you{
    margin-bottom: 34px;
}

.for-you__title{
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: 800;
}

.for-you__subtitle{
    margin-bottom: 30px;
    color: gray;
    font-weight: bold;
}

.artist__img{
    border-radius: 999px;
    object-fit: cover;
}

@media only screen and (max-width:879px){
    .col{
        width: calc(100% / 4 - 75px / 6);
    }
}

@media only screen and (max-width:640px){
    .col{
        flex-basis: calc(100% / 2 - 15px / 2);
    }
}

@media only screen and (max-width:553px){
    .col img{
        width: 100%;
    }

    .col{
        flex-basis: calc(100% / 2 - 15px / 2);
        max-width: 100%;
    }
}

.play__album{
    position: absolute;
    font-size: 70px;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    display: none;
}

.img-album:hover .play__album{
    display: block;
}

.img-album:hover  img{
    opacity: 0.5;
}