*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.row{
    display: flex;
}

/*******************
LAYOUT CONTAINER
*******************/

.layout-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.player-bar{
    height: 90px;
    background-color: #282828;
}

.main-content{
    flex-grow: 1;
    background-color: #141922;
    display: flex;
}

.side-bar{
    width: 230px;
    background-color: black;
}

.main-bar{
    flex-grow: 1;
}

/*******************
PLAYER BAR
*******************/

.player-bar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album-preview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 42px;
}

.album-preview__song {
    display: flex;
    align-items: center;
}

.album-preview figure{
    width: 42px;
    margin: 0 12px;
}

.album-preview__title p:first-child{
    font-weight: bold;
}

.album-preview__title p:last-child{
    color: gray;
    font-size: 15px;
}

.album-preview__icon{
    display: flex;
    gap: 15px;
}



.player-wrapper{
    flex-basis: 529px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-wrapper__icon{
    display: flex;
    align-items: center;
}

.player-wrapper__icon i:first-child{
    padding-right: 22px;
}

.player-wrapper__icon i:last-child{
    padding-left: 22px;
}

.play{
    padding: 0 32px;
    font-size: 30px;
}

.player-wrapper__bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar{
    max-width: 428px;
    height: 4px;
    background-color: gray;
}

.progress{

}